.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
tfplan
plan.out
tf_exit_code
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.idea/
.vscode/
*.swp
*~
.DS_Store
